<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Layout</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <nav class='nav-bar'>
      <ul> 
        <li><a href='/'>Home</a></li> 
        <li><a href='/beers'>Beers</a> </li>
        <li><a href='/random-beer'>Random Beer</a> </li>
      </ul>
    </nav>
    {{{body}}}
    <footer><p>   Developed by Ironhack 	&#128008;</p></footer>
  </body>
</html>